<!DOCTYPE html>
<html lang="en" ng-app="GitUserSearch">
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <% include ./partials/links %>
  </head>

  <body ng-controller="GitUserSearchController as searchCtrl">
    <h1>Helloooo, <%= name %></h1>
    <div>
      <form class="form-horizontal">
        <input type="text" ng-model="searchCtrl.searchTerm" ng-change="searchCtrl.doSearch()" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}">
        <button class="btn" ng-click="searchCtrl.doSearch()">Search</button>
      </form>
      <div ng-hide="!searchCtrl.searchTerm">You've just searched for {{searchCtrl.searchTerm}}</div>
      <ul class="list-group" ng-repeat="user in searchCtrl.searchResult.items">
        <li>
          <img ng-src="{{user.avatar_url}}&s=50" style="height: 50px; width: 50px">
          <a ng-href="{{user.html_url}}">{{user.login}}</a>
          <a ng-attr-id="{{user.login}}" ng-href="/users/{{user.login}}">{{user.login}}'s Mesa Profile</a>
        </li>
      </ul>
    </div>
  </body>
</html>